#!/usr/bin/env xdg-open
[Desktop Entry]
Name=PhET Malayalam menu
GenericName=PhET Malayalam menu
Comment=Include page for PhET Malayalam Simulations in menu
Exec=/usr/local/reset-settings/phet-ml-menu
Icon=/usr/local/PhET/phet-logo-48x48.png
Terminal=false
Type=Application
NoDisplay=true
